server:
  port: 7171
  servlet:
    context-path: /api/ms-order/v1

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:ordersdb}?useSSL=true
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update

    database-platform: com.ab.saga.orderservice.infrastructure.hibernate.NoToastPostgresSQLDialect

  rabbitmq:
    host: ${RABBIT_MQ_HOST_NAME:localhost}
    port: ${RABBIT_MQ_PORT:5672}
    username: ${RABBIT_MQ_USER:guest}
    password: ${RABBIT_MQ_PASSWORD:guest}
    listener:
      direct:
        acknowledge-mode: manual

axon:
  amqp:
    exchange: events
    transaction-mode: publisher_ack
  eventhandling:
    processors:
      name:
        source: axonQueueMessageSource


amqp:
  bindings:
    -
      exchange: events
      routingKey: "*.*"
      queue: events